@page "/Calculater"
@rendermode InteractiveServer

<style>
    body {
        background-color: #0d73bc;
    }

    .center {
        background-color: #06296d;
        margin: auto;
        width: 33vw;
        height: 50vw;
        border-radius: 5vw;
        padding: 5vw;
    }

    .display {
        background-color: #fff;
        width: 30vw;
        height: 12vw;
        margin: -3.6vw;
        border-radius: 3vw;
        padding: 5vw;
    }

    .keyHolders {
        background-color: #9d4bd3;
        width: 300vw !important;
        height: 300vw !important;
    }
</style>


<h1><u>Calculater</u></h1>
<div class="center">

    <div class="display">cat</div>
    <div class="keyHolder">
        <div class="keys"></div>
        <div class="keys"></div>
        <div class="keys"></div>
        <div class="keys"></div>
        <div class="keys"></div>
        <div class="keys"></div>
        <div class="keys"></div>
        <div class="keys"></div>
        <div class="keys"></div>
        <div class="keys"></div>
        <div class="keys"></div>
        <div class="keys"></div>
        <div class="keys"></div>
        <div class="keys"></div>
        <div class="keys"></div>
        <div class="keys"></div>
        <div class="keys"></div>
        <div class="keys"></div>
        <div class="keys"></div>
        <div class="keys"></div>
    </div>
</div>