@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>
<div class="container">
<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary container" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        if (currentCount < 106)
        {
            currentCount += 106;
        }
        else
        {
            currentCount -= 106;
        }
    }
}
<button class="container btn btn-danger mt-5">weee</button>
</div>