@page "/"
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<form method="post">
    <label for="fname" class="container my-5"> Enter your first name </label><br><br>
    <input type="text" name="fname" id="fname">
    @* <InputText @bind-Value="fname" /> *@
</form>

@* @code {
private fname; 
} *@