@page "/Todolist"
@rendermode InteractiveServer

<style>
    body {
        background-color: #130130;
        color: rgb(0, 204, 255);
    }

    .formI {
        margin: auto !important;
        padding: 20vw;
    }
</style>

<form action="" class="formI">
    <label for="">😈 Enter work TODO do 😈</label <br>
    <input type="text" @bind="input">
    <button @onclick="list">Summit</button>
</form>
<ul>
    @foreach (var i in todoItem)
    {
        <li>@i </li>

    }
</ul>

@code {
    static string input = "";
    private List<TodoList> todoItem = new List<TodoList>();
    private void list()
    {
        @* todoItem.Add(TodoList.input); *@
    }
}
