/** @format */
body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: justify;
  line-height: 1.6;
}
h1 {
  background-color: rgb(0, 246, 70);
  color: darkkhaki;
  border-radius: 0.8vw;
  padding: 0.5vw;
}

p {
  color: darkslategray;
}
ul > li {
  background-color: #e1d6bf;
  &:hover {
    background-color: #a1a093;
  }
}
